<h1 style="text-align:center;color:white; margin-top:10px;background-color:red">Doctor Patient-Record Application</h1>

<div class="card text-bg-dark">
  <img src="https://webmedy.com/blog/ten-things-patients-want-from-their-doctor/doctor-patient.jpg" class="card-img" alt="...">
  <div class="card-img-overlay ">
    <h5 class="card-title">Webmedy</h5>
    <p class="card-text">* This is one of the trusted application by the patient. </p>
    <p class="card-text">* We have best doctors who solves the problem of the patient. </p>
    <p class="card-text"><small>@ Last updated 2 years ago</small></p>
  </div>
</div>

<br>
<div class="container">
<h6 style="color:red"> Befor using this application you have to signup youreself and fill your details then you will be able to choose the 
appointment of doctor as well as doctor. </h6>
</div>

