<h1 style="text-align:center;color:white; margin-top:10px;background-color:red">How To Use This Application</h1>



<div class="modal" tabindex="-1">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Modal title</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <p>Modal body text goes here.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div>
  </div>
</div>
</div>


<div class="card text-bg-primary" >
  <div class="card-body">
    <h3> 1. This will be used by the patient so that they can get easily appointment from anywhere. </h3>
    <h3> 2. For using this patient need to fill their details and type of disease so that they can get especialized doctor. </h3>
    <h3> 3. After sign up successfully you need to book your slot.</h3>
    <h3> 4. You will get confirmation mail for your appointment where all the details are mentioned. </h3>
    <h3> 5. As per your choice you can reach your doctor's clinic for your treatment. </h3>
  </div>
</div>

<div class="card" style="width: 18rem; centre">
  <img src="https://www.mwsurgerycenter.com/wp-content/uploads/sites/379/2022/08/After_Your_Surgery_Resize.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <%=  link_to "Know More>>>", root_path %>
  </div>
</div>





  
